{% extends "bbase.html" %}
{% block content %}
    <div class="main">

        <div class="title">Recipe Of {{ post.title }}</div>
        <ul>
            <div class="cuisine">Cuisine: {{ post.cuisine }}</div>
            <div class="yields">Yields: {{ post.yields }} person(-s)</div>
            <div class="cooktime">Cooktime: {{ post.cooktime }}</div>
        <hr />
            <div class="body">Recipe:<br />{{ post.body|linebreaks }}</div>
            <div class="serving_suggestions">Serving suggestions:<br />{{ post.serving_suggestions }}</div>
            <div class="time">{{ post.created }}</div>
        </ul>

        <hr />

        {% for comment in comment_list %}
            <ul>
                <div class="time">{{ comment.author }}</div>
                <div class="body">{{ comment.body|linebreaks }}</div>
            </ul>
        {% endfor %}


        <div id="reply">
        <form action="" method="POST"> {% csrf_token %}
            <table>
                {{ modelform.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>
{% endblock %}